* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
    font-weight: 300;
    color: #e1a57b;
}

header {
    padding: 40vh 25vmin 25vmin 25vmin;
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        #cfb09a93, 
        #7bb0e183),
    url(elephant.jpg);
    background-size: cover;
    background-position: bottom;
    /* clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%); */
    /*clip-path: polygon(0 200px, 100% 500px, 100% 1000px, 0 1300px)*/
}

header h1 {
    font-size: 9vmin;
}